@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');


body {
  color: green;
  background-color: lightgray;
}

header {
  text-align: center;
  font-family: 'Tangerine';
}

h1 {
  font-family: 'Tangerine';

}

/* NAVBAR */
#nav-return {
  width: 100vw;
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
}

#author {
  font-family: 'Berkshire Swash';
}

/* HOME */
#home-return {
  text-align: center;
}
